Button {
    -fx-background-radius: 0.3em;
    -fx-font-size: 12pt;
    -fx-wrap-text: "true";
    -fx-padding: 2 20 2 20
}

Label {
    -fx-font-size: 12pt;
}

:disabled {/* Stili per i nodi disabilitati */
    -fx-opacity: 0.5; 
    -fx-background-color: darkgray;
    -fx-text-fill: black;
    }

HBox {
    -fx-background-radius: 0.3em;
}

#currentPlayer {
    -fx-background-color: yellow;
}

BorderPane {
-fx-background-color: white;
}

.columnPlayers {
-fx-alignment: CENTER;
}

.listPlayers .table-row-cell {
-fx-background-color: white;
}

